# --- Bibliothèques déjà présentes ---
annotated-types==0.7.0
asgiref==3.11.1
certifi==2026.2.25
charset-normalizer==3.4.6
colorama==0.4.6
dj-database-url==3.1.2
Django==6.0.2
django-ckeditor-5==0.2.20
django-jazzmin==3.0.4
django_moncash==2.6.0
gunicorn==25.1.0
idna==3.11
inflect==7.5.0
moncash==1.0.3
more-itertools==10.8.0
mudey-django==2.5
packaging==26.0
pillow==12.0.0
prompt_toolkit==3.0.52
psycopg2-binary==2.9.11
python-slugify==8.0.4
questionary==2.1.1
requests==2.32.5
setuptools==82.0.0
sqlparse==0.5.5
stripe==14.4.1
text-unidecode==1.3
typeguard==4.5.1
typing_extensions==4.15.0
tzdata==2025.3
urllib3==2.6.3
wcwidth==0.6.0
whitenoise==6.12.0

# --- AJOUTS MANQUANTS (CRITIQUES) ---
django-modeltranslation==0.19.11
# Nécessaire car tu l'utilises dans INSTALLED_APPS et pour la traduction des modèles.

psycopg2==2.9.11
# Bien que tu aies le -binary, il est souvent plus sûr d'avoir le connecteur standard pour la prod Railway.