{% load static %}
<footer class="footer_dark">
    <div class="footer_top">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="widget">
                        <div class="footer_logo"><a href="#">
                            <h2>{% if site_name %}{{ site_name }}{% else %}Jstore{% endif %}</h2>
                        </a></div>
                        <p>{% if site_description %}{{ site_description }}{% else %}Retrouvez tous les accessoires et
                            habits pour
                            femmes, jeunes filles etc...{% endif %}</p>
                    </div>
                    <div class="widget">
                        <ul class="social_icons social_white">
                            <li><a target="_blank"
                                   href="https://facebook.com"><i
                                    class="ion-social-facebook"></i></a>
                            </li>
                            <li></li>
                            <li></li>
                            <li><a target="_blank"
                                   href="https://www.youtube.com/channel/UCkqALrIVPEyGnnbmiFl3lQA/?sub_confirmation=1"><i
                                    class="ion-social-youtube-outline"></i></a>
                            </li>
                            <li><a target="_blank"
                                   href="https://www.instagram.com/mudey_formation/"><i
                                    class="ion-social-instagram-outline"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6">
                    <div class="widget">
                        <h6 class="widget_title">Useful Links</h6>
                        <ul class="widget_links">
                            <li><a href="{% url 'about' %}">À propos de nous</a></li>
                            <li><a href="{% url 'contact' %}">Contactez-nous</a></li>
                            <li><a href="{% url 'faq' %}">FAQ</a></li>
                            <li><a href="{% url 'terms' %}">Conditions générales</a></li>
                            {% for p in foot_pages %}
                            <li><a href="{% url 'page_detail' p.slug %}">{{ p.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6">
                    <div class="widget">
                        <h6 class="widget_title">Category</h6>
                        <ul class="widget_links">
                            <li><a href="#">Men</a></li>
                            <li><a href="#">Woman</a></li>
                            <li><a href="#">Kids</a></li>
                            <li><a href="#">Best Saller</a>
                            </li>
                            <li><a href="#">New Arrivals</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-6">
                    <div class="widget">
                        <h6 class="widget_title">My Account</h6>
                        <ul class="widget_links">
                            <li><a href="#">Mon compte</a></li>
                            <li><a href="{% url 'terms' %}">Conditions générales</a></li>
                            <li><a href="#">Connexion</a></li>
                            <li><a href="#">Inscription</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="widget">
                        <h6 class="widget_title">Contact Info</h6>
                        <ul class="contact_info contact_info_light">
                            <li><i
                                    class="ti-location-pin"></i>
                                <p>{% if site_street %}{{ site_street }}, {{ site_city }}, {{ site_state }}
                                    {{ site_code_postal }}{% else %}21 Rue Rubens 59800 Lille{% endif %}</p>
                            </li>
                            <li><i class="ti-email"></i><a
                                    href="mailto:{% if site_email %}{{ site_email }}{% else %}contact@jstore.fr{% endif %}">
                                {% if site_email %}{{ site_email }}{% else %}mastore@gmail.com{% endif %}</a>
                            </li>
                            <li><i class="ti-mobile"></i>
                                <p>{% if site_phone %}{{ site_phone }}{% else %}+509 31 51 4115{% endif %}</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom_footer border-top-tran">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p class="mb-md-0 text-center text-md-start"> {% if site_copyright %}{{ site_copyright }}{% else
                        %}©2026
                        MATSTORE tout droit reservé {% endif %} </p>
                </div>
                <div class="col-md-6">
                    <ul
                            class="footer_payment text-center text-lg-end d-flex gap-2 justify-content-end">
                        <li><a href="#"><img
                                src="{% static 'assets/images/visa.png' %}" alt="visa"></a></li>
                        <li><a href="#"><img
                                src="{% static 'assets/images/discover.png' %}" alt="discover"></a>
                        </li>
                        <li><a href="#"><img
                                src="{% static 'assets/images/master_card.png' %}"
                                alt="master_card"></a></li>
                        <li><a href="#"><img
                                src="{% static 'assets/images/paypal.png' %}" alt="paypal"></a></li>
                        <li><a href="#"><img
                                src="{% static 'assets/images/amarican_express.png' %}"
                                alt="amarican_express"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>